#dark-url{
    width: 80%;
    height: 5%;
}
#dark-frame{
    width: 100%;
    height: 95%;
}
#go-button{
    width: 5%;
    height: 5%;
}
#darklight-page{
    width: 14%;
    height: 5%;
}
#darklight-page a{
    float: right;
    color: black;
}

body{
    margin:0;
    
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
    
    background-color: rgb(0,20,40) !important;
}
